.bg_image {
  background-image: url("../../public/images/background.jpeg");
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.body-container {
  width: 94vw;
  min-height: 92vh;
}

.site-title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.content-container {
  min-height: 80vh;
}

.playButton {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(99, 102, 241, 0));
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.playButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
