.Collapsible {
  background-color: white;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: var(--indigo);
  position: relative;
  border: 1px solid rgb(199, 210, 254);
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

@media (min-width: 768px) {
  .Collapsible__trigger {
    padding-left: 1.5rem;
  }
}
.Collapsible__trigger:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 3px;
  display: block;
  transition: transform 300ms;
  font-size: 24px;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.link-button {
  padding-bottom: 1px;
}

.react-tagsinput {
  width: 32rem;
  text-align: left;
  border: 1px solid rgb(229, 231, 235) !important;
  border-radius: 0.25rem;
}

.react-tagsinput-input {
  width: 30rem !important;
}
.react-tagsinput-input::placeholder {
  font-size: 1rem;
}

.react-tagsinput-remove {
  text-decoration: none;
  font-size: 1rem;
  color: var(--indigo);
}

.react-tagsinput-tag {
  background-color: var(--light-indigo) !important;
  border-color: var(--light-indigo) !important;
  color: var(--indigo) !important;
}

.readme-input-section,
.readme-output-section {
  max-height: 86vh;
}

.readme-output-section {
  border: 1px solid var(--border-grey);
  margin: 2px;
  min-height: 86vh;
}

.left-section-markdown-textarea {
  width: 100%;
  height: 86vh;
  background-color: var(--color-bg-tertiary);
  padding: 0.8rem;
}
