@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("./components/leftSectionAdvancedComponent.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

:root {
  --purple: #35366e;
  --blue: #0366d6;
  --indigo: rgb(55, 48, 163);
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
} /* user agent */
h3 {
  font-size: 1.17em;
}

a {
  color: var(--blue);
  text-decoration: underline;
}

img {
  height: auto;
  display: inline;
}

.info-tooltip {
  max-width: 300px;
  text-align: left;
  font-size: 1rem !important;
}
